body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#header {
  margin: 0px 50px;
}
#sidebar {
  width: 250px;
  float: left;
  margin: 0px 50px;
}
#content {
  float: left;
}
