extends layout

block content
  div(style='float: left')
    h1= title
    p Welcome to #{title}
    p
      input#input(type='text')
      button#send Send
  canvas#gameBoard(width='600', height='600')