extends layout

block content
  #page
    #header
      h1= title
    #sidebar
      input#input(type='text', name='name')
      button#send Join
      ul#playerList
          li(class="ui-state-default" )
            ='The Muffin Man'
          li(class="ui-state-default" )
            ='The Ginger Bread Man'
    #content
      #droppable(class="ui-widget-header", style="height:auto")
        p= 'Drop here to start game'
        canvas#gameBoard(width='600', height='600')
    #footer